/*
Tools :
 - http://www.fontsquirrel.com/tools/webfont-generator
 - https://everythingfonts.com/font-face
 - https://onlinefontconverter.com/
 
 100 = Thin (Hairline)
 200 = Extra Light (Ultra Light)
 300 = light
 400 = normal
 500 = medium
 600 = Semi Bold (Demi Bold)
 700 = bold
 800 = Extra Bold (Ultra Bold)
 900 = Black (Heavy)
*/
