
font = 'Lato', sans-serif
font-serif = 'Roboto Slab', serif
font-title = font-serif

color-title = #000
color-text = #000
color-bg = #eee
color-link = #16518e
color-link-hover = #000

color-wine = #bd1787
color-menu = #856b6b

border = 1px


m-title-top = 150