.spirit
  {R}
  > .wrapper
    wrapper 1120
  .body,
  p
    color #f
    width 550px
    fz 18px 20px
    font-weight 400
  p
    margin-bottom 30px
  h3.title-domain
    fz 100px
    margin-top 6vh
    color #f
    font-weight thin
  .title
    font-size 60px

.wine-store
  h3.title-domain
    margin-left 7.5vh
  .body
    margin-top 6vh
    margin-left 7.5vh
