#product-filter
  display none
  absolute top 20 right 20 z 1100
  height 120px
  min-width 425px
  background-repeat no-repeat
  background-size 260 auto
  background-position center top
  text-align center
  .page-our-wine-castle &
    background-image url('../img/logo-chateau.svg')
  .page-our-wine-land &
    background-image url('../img/logo-terre.svg')
  a
    display inline-block
    c #f
    margin-left 12px
    margin-right 12px
    font-size 14px 22px
    vertical-align middle
    font-weight heavy
    text-transform uppercase
    span
      relative top -1.5
      display inline-block
      vertical-align middle
      margin-right 8px
      size 22
      border 2 #f
      border-radius 3px
      span
        size 14
        absolute center
        border 0
        border-radius 0
    &.active,
    &:hover
      span span
        bgc #f
        