.intro-mobile
  bgc #f
  .mobile-title
    &-chateau
      jpg-size 'product/bg-slide-castle-mobile'
      width 100%
      background-size cover
      .logo
        background url('../img/logo-chateau.svg') no-repeat
        size 217 70
        background-size 217 auto
        relative center

    &-terre
      jpg-size 'product/bg-slide-land-mobile'
      width 100%
      background-size cover
      .logo
        background url('../img/logo-terre.svg') no-repeat
        size 217 70
        background-size 217 auto
        relative center
  .paragraph
    c #0 #f
    padding 20 20
    text-align center
    font-weight light
    font-size 14px 16px
    