.page-vins,
.page-vins-terres-des-amoureuses
  .slide.intro
    float left
    text-align center
  .intro-wrapper
    absolute center
    text-align center
    height auto !important
    .logo
      display inline-block
      w 100%
    .logo-terre
      background url('../img/logo-terre.svg') no-repeat
      size 468px 86px
      background-size @size
    .logo-chateau
      background url('../img/logo-chateau.svg') no-repeat
      size 464px 94px
      background-size @size
    .paragraph
      display block
      margin-top 100px
      fz 34px 40px
      fw 300
    .button-discover
      display inline-block
      margin-top 150px
      color #f
      text-transform uppercase
      fz 30px 80px
      font-weight 300
      border 2px #f
      border-radius border
      padding 0 20px
      &:hover
        bgc rgba(#fff, 0.3)
  
.page-vins-terres-des-amoureuses
  .slide.intro
    png 'product/coeur' top 20% left 20%
  