body
  .page-cart,
  .page-checkout
    background-color #fff

.page-cart
  .view-commerce-cart-form
    margin-top 2rem

.page-cart
  .views-field-quantity
    span
      border solid 1px #000
      padding 10px 15px

.page-cart
.page-checkout
  h1
    margin 5.5vh 0 5rem 0
    font-weight 200
    font-size 10rem

#step-checkout
  list-style none
  width 100%
  padding 0
  margin 0
  left 0
  z-index 2

.border-checkout
  position relative
  display block
  float none
  clear both
  top: -1px
  width 100%
  border-bottom solid 1px #000
  z-index 1

#step-checkout
  li
    padding 15px 35px
    border solid 1px #000
    float left
    text-transform uppercase
    font-size 2.1rem
    background #000
    color: #6d6d6d
    font-weight bold
    margin 0 15px

#step-checkout
  li.active
    background #fff
    color #000
    border-bottom solid 1px #fff

.customer_profile_shipping
  float left
  width 45%
  padding-right 70px

.page-cart
  table
    &.views-table
      &.cols-5
        tr
          td
            font-size 1.8rem
            padding 1rem 0 0.5rem 0
            line-height 4rem
            vertical-align middle
    td
      &.views-field-field-product-image
        text-align left !important

.imgproduct
  display inline-block
  vertical-align middle
  padding-right 15px
  padding-left 2rem
  img
    width 25px
    height auto

.page-cart-bottom
  float none
  clear both
  display block
  text-align center

.page-cart
  .nav-map
    .col
      a
        background-color #000
  #menu-open
    color #000

.page-checkout
  #menu-open
    color #000
  span
    &.fieldset-legend
      font-size 18px !important
      font-weight bold
      text-transform uppercase
      margin-bottom 15px !important
      display block

.address-review-container
  float left
  width 100%

.title-address
  font-weight bold
  font-size 2.2rem
  text-transform uppercase
  display block
  border-bottom solid 2px #000
  padding 0 0 10px 0
  margin 0 0 25px 0

.col-address-review
  float left
  width 50%
  text-align left

.subtitle-address
  font-weight bold
  font-size 1.6rem
  display block
  text-transform uppercase

.page-checkout-review
  #commerce-shipping-service-ajax-wrapper,
  #edit-checkout-review
    float left
    width 50%
  #edit-checkout-review
    padding-right 50px

.page-checkout-review
  .checkout-help
    padding 15px 0

.page-checkout-review
  span
    &.fieldset-legend
      font-weight bold
      font-size 2.2rem !important
      text-transform uppercase
      display block
      border-bottom solid 2px #000
      padding 0 0 10px 0
      margin 0

.black-link:hover
.black-link
  color #000 !important
  text-shadow none
 	