button,
.button,
input[type=reset],
input[type=submit],
input[type=button]
  display inline-block
  size auto 30px
  bgc transparent
  padding 0 25px
  font-family font
  font-size 16px 50px
  c #f
  border #f
  cursor pointer
  text-transform uppercase
  transition all 0.3s ease
  text-decoration none
  appearance none
  float none
  height auto
  margin-top 40px
  &:hover
    bgc #f
    color #0
  &:active
    background-color #f
  &::-moz-focus-inner
    border none
    padding 0

  .mobile &
    height 40px
    line-height 40px