.scroll-mobile
  absolute bottom 35 left
  width 100% 
  text-align center
  c #f
  text-transform uppercase
  padding-bottom 70px
  png 'picto/scroll' center bottom
  &:hover
    c #f
  &.black
    c #0
    png 'picto/scroll-black'
    &:hover
      c #0