

ul.tabs
  absolute top 9 left z 1000
  width 110px
  list-style none
  padding-left 3px
  a
    float left
    width 100%
    padding 8 6px
    text-align center
    margin-bottom 10px
    border-radius 2
    height tab-height
    font-size 15px
    c #0 #f
    &.is-active,
    //&.active,
    &:hover
      c color-link-hover