.ajax-wrapper.node-type-webform
  > .wrapper
    wrapper 1230
  .bg-wrapper
    jpg 'bg/contact-bg'
  .contact-page
    {R}
    relative top center
    c #f
    .title
      margin-top 0
  .wrapper-content
    height 100vh
    .wrapper-form
      width 45%
      form
        float left
        label
          width 155px
          margin-right 0
        input,
        textarea
          width 315px
        .form-submit
          width auto !important
          margin 12px 0 65px 155px
      .coordinates
        margin-left 155px
        p
          margin-bottom 30px
  #gmap
    size 55% 630

  .mobile &
    {R}
    text-align center
    bgc #f
    .wrapper-content
      height auto
      .mobile-title
        jpg 'bg/contact-bg-mobile' no-repeat
        background-size cover
        margin 0
        height 479px 
        h2
          absolute top m-title-top
          margin 0
          font-weight light 
    .contact-page
      {R}
      bgc #f
      width 320px
      overflow hidden
      height auto
      top auto left auto
      transform none
      margin 0
    #gmap
      float left
      size 270px
      margin 25
      margin-right 0
      pointer-events none
    .coordinates
      text-align left
      margin-left 25px !important
      margin-bottom 40px
      p
        c #0
        margin-bottom 20px
    .wrapper-form
      text-align center
      width 100%
      margin-bottom 40px
      .title-form
        c #0
        font-size 40px 40px
        font-family font-title
        font-weight light
      .form-item
        margin-bottom 0
      input,
      textarea
        w 269px !important
        border #0
      label
        color #0
        w 269px !important
        padding-left 25px
        margin-left 0
        text-align left
        margin-top 0
      .form-submit
        display inline-block
        float none
        margin 20 0 !important
        c #0 !important
