.node-type-page-simple
  bgc #0
.node-page-simple
  {R}
  height 100vh
  overflow auto
  .title
    color #f
    margin-top 70px
  .text-content
    font-family font
    color #f
    padding-bottom 50px
    p
      fz 20px 24px
      font-weight light
      margin-bottom 10px
    a
      color color-wine
      &:hover
        c #f
    h1,h2,h3,h4
      text-transform uppercase
      color #f
      fz 22px
      margin-bottom 10px
  .mobile &
    padding 25
    .title
      margin-top 20px
    .text-content
      p
        fz 17px 21px
      