.page-user
  bgc #0
  .bg-wrapper
    opacity 0.5
    jpg 'home/home-bg'
    background-size cover
  #content
    form,
    .profile
      width 960px
      margin auto
      margin-top 20px
  .profile
    h3,
    > dl
      {R}
      margin-bottom 10px