.news-list
  height 100vh
  .news-list-wrapper
    absolute top center
    width 100%
    text-align center
    fz 0
    .news-list-content
      {R}
  
  .mobile &
    height auto
    bgc #f
    .mobile-title
      jpg 'bg/news-bg-mobile' no-repeat
      background-size cover
      margin 0
      height 479px
      text-align center
      h2
        absolute top m-title-top
        margin 0
        font-weight light 
    .news-list-wrapper
      float left
      relative top auto
      margin 0
      transform none
      bgc #f
    

.mobile
  .news-filters-wrapper
    float left
    width 280px
    margin-left 20px
    margin-top 35px
    text-align left
    .select2
      .select2-selection
        border #0
        c #0
      .select2-selection__arrow
        border-top 10px #0
          