#content .juicer-feed.user
  {R}
  max-height 72vh
  relative top 7vh 
  padding-right 20px !important
  li.feed-item
    float left !important
    border #f
    c #f rgba(#000, 0.6)
    text-align center
    *
      c inherit
  
  .mobile &
    float none
    display inline-block
    max-height none
    bgc #f
    padding-right 0 !important
    width 290px !important
    li.feed-item
      border #0
      c #0 #f
      *
        c inherit
    

body .post-overlay.juicer-feed
  .j-bottom
    {R}
    margin-top 12px
  ul.j-share
    position static
    {R}
    margin-top 30px
    padding 0
    
  

.j-overlay
  padding 0 !important

  .j-overlay-content
    top center
    

.mobile #content
  .page-news-social
    bgc #f
  .page-social
    height auto
    bgc #f
    text-align center
    .mobile-title
      jpg 'bg/news-bg-mobile' no-repeat
      background-size cover
      margin 0
      height 479px
      text-align center
      h2
        absolute top m-title-top
        margin 0
        font-weight light

