.news.teaser
  display inline-block
  size 310
  margin-right 30px
  margin-bottom 40px
  padding 18px
  padding-top 28px
  border #f
  c #f
  fz 16
  overflow hidden
  cursor pointer
  {tr}
  &:nth-of-type(4n+4)
    margin-right 0
  .date
    margin-bottom 23px
    text-transform uppercase

  .news-title
    c inherit
    font-size 20px
    text-transform none

  p
    font-size 20px
    font-weight light
    c inherit
  .see
    display none

  &:hover
    c #0 #f
  
  .mobile &
    width 290px
    height auto
    margin-right 0
    margin-top 30px
    margin-bottom 10px
    border #0
    c #0



    